:root{
    --O-color: #2196f3;
    --X-color: #f44336;
}

body{
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    height: 100vh;
    background-color: #eee;
}

.titulo{
    text-align: center;
    font-family: sans-serif;
    color: #555;
    font-size: 3rem;
    margin-bottom: 2rem;
}


.tabuleiro{
    display: grid;
    grid-template-columns: repeat(3,240px);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
    background-color: black;
}

.celula{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    color: #00000066;
    cursor: pointer;
    image-orientation: flip;

}

.celula:not(.O):not(.X):hover{
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px 5px 
    rgba(0, 0, 0, 0.04)  ;
}

.celula.O, .celula.X{
    cursor: not-allowed
}

.celula.O{
    background-image: url(../public/circulo.png);
    background-repeat: no-repeat;
   
}

.celula.X{
   background-image: url(../public/X.jpg);
   background-repeat: no-repeat;
   
}

.h2-vencedor{
    font-family: sans-serif;
    font-size: 3rem;
}

.vencedor-X{
    color: var(--X-color);
}

.vencedor-O{
    color: var(--O-color);
}

.botao{
    margin-left: 360px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    background-color: #4caf50;
}